*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.background_image {
  background: url("../media/bg.png") no-repeat center fixed;
  background-size: contain;
  filter: blur(5px);
  height: 100%;
  opacity: .7;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.container {
  align-items: center;
  background: rgba(0,0,0,0.2);
  border-radius: 8px;
  display: flex-box;
  flex-direction: column;
  justify-content: center;
  max-width: 70vmax;
  min-width: 90vmin;
  opacity: .7;
  padding-top: 20px;
  width: 300px;
}

.number {
  background-color: #5fcf80;
  border-radius: 25%;
  color: #fff;
  display: inline-block;
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  width: 20px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: #c5d7e6;
  height: 100vh;
  width: 100vw;
  min-width: 100vmin;
  max-width: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="radio"] {
  margin: 0 4px 8px 0;
}

input, textarea, select {
  background: rgba(255,255,255,0.1);
  background-color: #e8eeef;
  border: none;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  color: #8a97a0;
  font-size: 16px;
  height: auto;
  margin: 0;
  margin-bottom: 30px;
  outline: 0;
  padding: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  display: inline;
  font-weight: 300;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

select {
  border-radius: 2px;
  height: 32px;
  padding: 6px;
}
